/old
/error_log
/public/sitemap.xml
/public/web.config
/public/google-feed.txt
/vendor
/node_modules
.env
.htaccess
/storage/*.key
/public/storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Correct path - these are inside public/
/public/assets
/public/global
/public/images
/public/img
/public/video